#root {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  // padding: 1.5em;
  // will-change: filter;
  // transition: filter 300ms;
  &.rabby {
    height: 8em;
  }
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.rabby:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  &.linking {
    height: 3em;
  }
}

.divider {
  height: 0;
  border: 1px dashed #ccc;
  margin: 2em 0;
}

.card {
  padding: 0;
  font-size: 20px;

  > p {
    padding: 0 2em;
  }

  .store {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
  }
}

.read-the-docs {
  color: #888;
}

.anchor-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #646cff;
  height: 2.5em;
  // padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.open-rabby {
    margin-top: 1em;
  }
}

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }
