/* this file is genetared automatically, never modify it manually! */
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* -------------------- theme define -------------------- */
  --color-light-brand-default: rgba(76, 101, 255, 1);
  --color-light-brand-default-light: rgba(76, 101, 255, 0.7);
  --color-light-brand-default-icon: rgba(64, 86, 221, 1);
  --color-light-brand-light-1: rgba(76, 101, 255, 0.12);
  --color-light-brand-light-2: rgba(76, 101, 255, 0.25);
  --color-light-brand-disable: rgba(76, 101, 255, 0.4);
  --color-light-brand-light-4: rgba(112, 132, 255, 0.7);
  --color-light-red-dark: rgba(199, 21, 10, 1);
  --color-light-red-default: rgba(255, 69, 58, 1);
  --color-light-red-light-1: rgba(255, 115, 107, 0.1);
  --color-light-red-light-2: rgba(255, 115, 107, 0.2);
  --color-light-red-disable: rgba(255, 115, 107, 0.4);
  --color-light-red-light-4: rgba(255, 115, 107, 0.85);
  --color-light-orange-default: rgba(255, 159, 10, 1);
  --color-light-orange-light-1: rgba(255, 159, 10, 0.1);
  --color-light-orange-light-2: rgba(255, 159, 10, 0.24);
  --color-light-orange-disable: rgba(255, 159, 10, 0.44);
  --color-light-orange-light-4: rgba(255, 159, 10, 0.7);
  --color-light-green-default: rgba(88, 198, 105, 1);
  --color-light-green-default-light: rgba(117, 212, 101, 0.7);
  --color-light-green-light-1: rgba(88, 198, 105, 0.14);
  --color-light-green-light-2: rgba(88, 198, 105, 0.27);
  --color-light-green-disable: rgba(88, 198, 105, 0.4);
  --color-light-green-light-4: rgba(88, 198, 105, 0.8);
  --color-light-blue-default: rgba(10, 132, 255, 1);
  --color-light-blue-light-1: rgba(10, 132, 255, 0.14);
  --color-light-blue-light-2: rgba(10, 132, 255, 0.27);
  --color-light-blue-disable: rgba(10, 132, 255, 0.4);
  --color-light-blue-light-4: rgba(10, 132, 255, 0.7);
  --color-light-neutral-bg-0: rgba(246, 247, 247, 1);
  --color-light-neutral-bg-1: rgba(255, 255, 255, 1);
  --color-light-neutral-bg-2: rgba(242, 244, 247, 1);
  --color-light-neutral-bg-3: rgba(249, 249, 249, 1);
  --color-light-neutral-bg-4: rgba(235, 237, 240, 1);
  --color-light-neutral-bg-5: rgba(224, 229, 236, 0.5);
  --color-light-neutral-line: rgba(224, 229, 236, 1);
  --color-light-neutral-title-1: rgba(25, 41, 69, 1);
  --color-light-neutral-title-2: rgba(255, 255, 255, 1);
  --color-light-neutral-card-1: rgba(255, 255, 255, 1);
  --color-light-neutral-card-2: rgba(242, 244, 247, 1);
  --color-light-neutral-body: rgba(62, 73, 94, 1);
  --color-light-neutral-foot: rgba(106, 117, 135, 1);
  --color-light-neutral-secondary: rgba(154, 156, 169, 1);
  --color-light-neutral-info: rgba(197, 197, 207, 1);
  --color-light-neutral-InvertHighlight: rgba(255, 255, 255, 1);
  --color-light-neutral-black: rgba(0, 0, 0, 1);
  --color-light-neutral-bg-gray: rgba(246, 247, 247, 1);

  --color-dark-brand-default: rgba(112, 132, 255, 1);
  --color-dark-brand-default-light: rgba(112, 132, 255, 0.7);
  --color-dark-brand-default-icon: rgba(82, 103, 232, 1);
  --color-dark-brand-light-1: rgba(112, 132, 255, 0.12);
  --color-dark-brand-light-2: rgba(112, 132, 255, 0.25);
  --color-dark-brand-disable: rgba(112, 132, 255, 0.4);
  --color-dark-brand-light-4: rgba(112, 132, 255, 0.7);
  --color-dark-red-dark: rgba(199, 21, 10, 1);
  --color-dark-red-default: rgba(255, 69, 58, 1);
  --color-dark-red-light-1: rgba(255, 115, 107, 0.1);
  --color-dark-red-light-2: rgba(255, 115, 107, 0.2);
  --color-dark-red-disable: rgba(255, 115, 107, 0.4);
  --color-dark-red-light-4: rgba(255, 115, 107, 0.85);
  --color-dark-orange-default: rgba(255, 159, 10, 1);
  --color-dark-orange-light-1: rgba(255, 159, 10, 0.1);
  --color-dark-orange-light-2: rgba(255, 159, 10, 0.24);
  --color-dark-orange-disable: rgba(255, 159, 10, 0.44);
  --color-dark-orange-light-4: rgba(255, 159, 10, 0.7);
  --color-dark-green-default: rgba(88, 198, 105, 1);
  --color-dark-green-default-light: rgba(117, 212, 101, 0.7);
  --color-dark-green-light-1: rgba(88, 198, 105, 0.14);
  --color-dark-green-light-2: rgba(88, 198, 105, 0.27);
  --color-dark-green-disable: rgba(88, 198, 105, 0.4);
  --color-dark-green-light-4: rgba(88, 198, 105, 0.8);
  --color-dark-blue-default: rgba(10, 132, 255, 1);
  --color-dark-blue-light-1: rgba(10, 132, 255, 0.14);
  --color-dark-blue-light-2: rgba(10, 132, 255, 0.27);
  --color-dark-blue-disable: rgba(10, 132, 255, 0.4);
  --color-dark-blue-light-4: rgba(10, 132, 255, 0.7);
  --color-dark-neutral-bg-0: rgba(19, 20, 22, 1);
  --color-dark-neutral-bg-1: rgba(19, 20, 22, 1);
  --color-dark-neutral-bg-2: rgba(35, 36, 40, 1);
  --color-dark-neutral-bg-3: rgba(28, 28, 29, 1);
  --color-dark-neutral-bg-4: rgba(56, 59, 65, 1);
  --color-dark-neutral-bg-5: rgba(47, 49, 53, 0.5);
  --color-dark-neutral-line: rgba(47, 49, 53, 1);
  --color-dark-neutral-title-1: rgba(247, 250, 252, 1);
  --color-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --color-dark-neutral-card-1: rgba(255, 255, 255, 0.06);
  --color-dark-neutral-card-2: rgba(242, 244, 247, 1);
  --color-dark-neutral-body: rgba(211, 216, 224, 1);
  --color-dark-neutral-foot: rgba(186, 190, 197, 1);
  --color-dark-neutral-secondary: rgba(113, 115, 128, 1);
  --color-dark-neutral-info: rgba(86, 87, 95, 1);
  --color-dark-neutral-InvertHighlight: rgba(255, 255, 255, 1);
  --color-dark-neutral-black: rgba(0, 0, 0, 1);
  --color-dark-neutral-bg-gray: rgba(19, 20, 22, 1);
}

@theme {
  --color-brand-default: rgba(76, 101, 255, 1);
  --color-brand-default-light: rgba(76, 101, 255, 0.7);
  --color-brand-default-icon: rgba(64, 86, 221, 1);
  --color-brand-light-1: rgba(76, 101, 255, 0.12);
  --color-brand-light-2: rgba(76, 101, 255, 0.25);
  --color-brand-disable: rgba(76, 101, 255, 0.4);
  --color-brand-light-4: rgba(112, 132, 255, 0.7);
  --color-red-dark: rgba(199, 21, 10, 1);
  --color-red-default: rgba(255, 69, 58, 1);
  --color-red-light-1: rgba(255, 115, 107, 0.1);
  --color-red-light-2: rgba(255, 115, 107, 0.2);
  --color-red-disable: rgba(255, 115, 107, 0.4);
  --color-red-light-4: rgba(255, 115, 107, 0.85);
  --color-orange-default: rgba(255, 159, 10, 1);
  --color-orange-light-1: rgba(255, 159, 10, 0.1);
  --color-orange-light-2: rgba(255, 159, 10, 0.24);
  --color-orange-disable: rgba(255, 159, 10, 0.44);
  --color-orange-light-4: rgba(255, 159, 10, 0.7);
  --color-green-default: rgba(88, 198, 105, 1);
  --color-green-default-light: rgba(117, 212, 101, 0.7);
  --color-green-light-1: rgba(88, 198, 105, 0.14);
  --color-green-light-2: rgba(88, 198, 105, 0.27);
  --color-green-disable: rgba(88, 198, 105, 0.4);
  --color-green-light-4: rgba(88, 198, 105, 0.8);
  --color-blue-default: rgba(10, 132, 255, 1);
  --color-blue-light-1: rgba(10, 132, 255, 0.14);
  --color-blue-light-2: rgba(10, 132, 255, 0.27);
  --color-blue-disable: rgba(10, 132, 255, 0.4);
  --color-blue-light-4: rgba(10, 132, 255, 0.7);
  --color-neutral-bg-0: rgba(246, 247, 247, 1);
  --color-neutral-bg-1: rgba(255, 255, 255, 1);
  --color-neutral-bg-2: rgba(242, 244, 247, 1);
  --color-neutral-bg-3: rgba(249, 249, 249, 1);
  --color-neutral-bg-4: rgba(235, 237, 240, 1);
  --color-neutral-bg-5: rgba(224, 229, 236, 0.5);
  --color-neutral-line: rgba(224, 229, 236, 1);
  --color-neutral-title-1: rgba(25, 41, 69, 1);
  --color-neutral-title-2: rgba(255, 255, 255, 1);
  --color-neutral-card-1: rgba(255, 255, 255, 1);
  --color-neutral-card-2: rgba(242, 244, 247, 1);
  --color-neutral-body: rgba(62, 73, 94, 1);
  --color-neutral-foot: rgba(106, 117, 135, 1);
  --color-neutral-secondary: rgba(154, 156, 169, 1);
  --color-neutral-info: rgba(197, 197, 207, 1);
  --color-neutral-InvertHighlight: rgba(255, 255, 255, 1);
  --color-neutral-black: rgba(0, 0, 0, 1);
  --color-neutral-bg-gray: rgba(246, 247, 247, 1);
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-brand-default: rgba(112, 132, 255, 1);
      --color-brand-default-light: rgba(112, 132, 255, 0.7);
      --color-brand-default-icon: rgba(82, 103, 232, 1);
      --color-brand-light-1: rgba(112, 132, 255, 0.12);
      --color-brand-light-2: rgba(112, 132, 255, 0.25);
      --color-brand-disable: rgba(112, 132, 255, 0.4);
      --color-brand-light-4: rgba(112, 132, 255, 0.7);
      --color-red-dark: rgba(199, 21, 10, 1);
      --color-red-default: rgba(255, 69, 58, 1);
      --color-red-light-1: rgba(255, 115, 107, 0.1);
      --color-red-light-2: rgba(255, 115, 107, 0.2);
      --color-red-disable: rgba(255, 115, 107, 0.4);
      --color-red-light-4: rgba(255, 115, 107, 0.85);
      --color-orange-default: rgba(255, 159, 10, 1);
      --color-orange-light-1: rgba(255, 159, 10, 0.1);
      --color-orange-light-2: rgba(255, 159, 10, 0.24);
      --color-orange-disable: rgba(255, 159, 10, 0.44);
      --color-orange-light-4: rgba(255, 159, 10, 0.7);
      --color-green-default: rgba(88, 198, 105, 1);
      --color-green-default-light: rgba(117, 212, 101, 0.7);
      --color-green-light-1: rgba(88, 198, 105, 0.14);
      --color-green-light-2: rgba(88, 198, 105, 0.27);
      --color-green-disable: rgba(88, 198, 105, 0.4);
      --color-green-light-4: rgba(88, 198, 105, 0.8);
      --color-blue-default: rgba(10, 132, 255, 1);
      --color-blue-light-1: rgba(10, 132, 255, 0.14);
      --color-blue-light-2: rgba(10, 132, 255, 0.27);
      --color-blue-disable: rgba(10, 132, 255, 0.4);
      --color-blue-light-4: rgba(10, 132, 255, 0.7);
      --color-neutral-bg-0: rgba(19, 20, 22, 1);
      --color-neutral-bg-1: rgba(19, 20, 22, 1);
      --color-neutral-bg-2: rgba(35, 36, 40, 1);
      --color-neutral-bg-3: rgba(28, 28, 29, 1);
      --color-neutral-bg-4: rgba(56, 59, 65, 1);
      --color-neutral-bg-5: rgba(47, 49, 53, 0.5);
      --color-neutral-line: rgba(47, 49, 53, 1);
      --color-neutral-title-1: rgba(247, 250, 252, 1);
      --color-neutral-title-2: rgba(255, 255, 255, 1);
      --color-neutral-card-1: rgba(255, 255, 255, 0.06);
      --color-neutral-card-2: rgba(242, 244, 247, 1);
      --color-neutral-body: rgba(211, 216, 224, 1);
      --color-neutral-foot: rgba(186, 190, 197, 1);
      --color-neutral-secondary: rgba(113, 115, 128, 1);
      --color-neutral-info: rgba(86, 87, 95, 1);
      --color-neutral-InvertHighlight: rgba(255, 255, 255, 1);
      --color-neutral-black: rgba(0, 0, 0, 1);
      --color-neutral-bg-gray: rgba(19, 20, 22, 1);
    }
  }
}
