name: deploy ios & android config

on:
  workflow_dispatch:
    FORCE_REFRESH_CDN:
      required: false
      type: boolean
      default: true

jobs:
  upload-aws:
    name: upload aws
    runs-on: self-hosted
    steps:
      - name: upload android well-known
        run: |
          cd apps/go.rabby.io
          # upload android well-known
          aws s3 cp ./.well-known/assetlinks.json s3://${RABBY_MOBILE_BUILD_BUCKET}/rabby-go/.well-known/assetlinks.json --content-type application/json --acl public-read
          # upload ios well-known
          aws s3 cp ./.well-known/apple-app-site-association s3://${RABBY_MOBILE_BUILD_BUCKET}/rabby-go/.well-known/apple-app-site-association --content-type application/json --acl public-read

          if [ "$FORCE_REFRESH_CDN" = "true" ]; then
            echo "Force refresh CDN"
            aws cloudfront create-invalidation --distribution-id $RABBY_GO_CDN_FRONTEND_ID --paths '/.well-known/*'
            echo "CDN invalidation created"
          else
            echo "Refresh CDN by \`aws cloudfront create-invalidation --distribution-id <cdn_frontend_id> --paths '/.well-known/*'\`"
          fi
        env:
          RABBY_MOBILE_BUILD_BUCKET: ${{ secrets.RABBY_MOBILE_BUILD_BUCKET }}
          RABBY_GO_CDN_FRONTEND_ID: ${{ secrets.RABBY_GO_CDN_FRONTEND_ID }}
          FORCE_REFRESH_CDN: ${{ inputs.FORCE_REFRESH_CDN }}
